<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <font color="#ffffff" size="5.5em"><b>Jobster</b></font>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-size:1.1em">
      <ul class="nav navbar-nav">
          <li><a routerLink="/new-job">New Job</a></li>
          <li><a routerLink="/jobs">Posted Jobs</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Jobs <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/followings">Job List</a>
                <a routerLink="/invitations">Connection Requests</a>
                <a routerLink="/friends">All Connections</a>
              </li>
            </ul>
          </li> -->
      </ul>

      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Please enter keywords" [(ngModel)]="searchInput" name ="student-search">
        </div>
        <button type="submit" class="btn btn-default" [routerLink]="['/', searchInput]">
            Search
        </button>
      </form> -->

      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a routerLink="/new-messages">Messages <span class="badge">{{msg_num}}</span></a></li> -->
        <!-- <li><a routerLink="/login" *ngIf="!auth.isUserAuthenticated()">Login</a></li> -->
        <!-- <li><a routerLink="/signup" *ngIf="!auth.isUserAuthenticated()">Sign Up</a></li> -->
        <li><a routerLink="/profile" *ngIf="auth.isUserAuthenticated()">Profile</a></li>
        <li><a (click)="logout()" *ngIf="auth.isUserAuthenticated()">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>